# Exploratory analysis

## Depreciation

In [1]:
# load packages
import pandas as pd

In [17]:
# pull in depreciation summary (filtered R2 > 0.67) and plot best and worst
depr_summary = pd.read_csv('../data/depr_summary_filtered.csv')
model_counts = pd.read_csv('../data/make_model_list_sorted.csv')
depr_summary_all = pd.read_csv('../data/depreciation/depreciation_by_model.csv')

In [3]:
# get top ten models by half life
top_ten = depr_summary.sort_values('Half life', ascending=False)[:10]

# get select columns and rename them 
top_ten_1 = top_ten[['Make', 'Model', 'Fit_age_a', 'Fit_age_b', 'Fit_age_R2', 'Half life']]
top_ten_2 = top_ten_1.rename(columns={'Fit_age_a': 'New price ($)',
                             'Fit_age_b': 'Decay coeff. (1/y)',
                             'Fit_age_R2': 'Fit quality, R2',
                             'Half life': 'Half life (y)'})

In [4]:
# round numerical data for readability 
top_ten_2['New price ($)'] = round(top_ten_2['New price ($)'], -2)
top_ten_2['Fit quality, R2'] = round(top_ten_2['Fit quality, R2'],3)
top_ten_2['Decay coeff. (1/y)'] = round(top_ten_2['Decay coeff. (1/y)'],3)
top_ten_2['Half life (y)'] = round(top_ten_2['Half life (y)'],2)
top_ten_2.style.hide_index()

In [5]:
# get bottom ten models by half life
bot_ten = depr_summary.sort_values('Half life', ascending=True)[:10]

# get select columns and rename them 
bot_ten_1 = bot_ten[['Make', 'Model', 'Fit_age_a', 'Fit_age_b', 'Fit_age_R2', 'Half life']]
bot_ten_2 = bot_ten_1.rename(columns={'Fit_age_a': 'New price ($)',
                             'Fit_age_b': 'Decay coeff. (1/y)',
                             'Fit_age_R2': 'Fit quality, R2',
                             'Half life': 'Half life (y)'})

In [11]:
# round numerical data for readability 
bot_ten_2['New price ($)'] = round(bot_ten_2['New price ($)'], -2)
bot_ten_2['Fit quality, R2'] = round(bot_ten_2['Fit quality, R2'],3)
bot_ten_2['Decay coeff. (1/y)'] = round(bot_ten_2['Decay coeff. (1/y)'],3)
bot_ten_2['Half life (y)'] = round(bot_ten_2['Half life (y)'],2)
bot_ten_2.style.hide_index()

In [56]:
# join full depreciation data with model counts
model_counts_2 = model_counts.groupby('Model').sum()
full_data_set = depr_summary_all.drop(columns=['Body']).merge(model_counts_2, how='inner', on='Model').drop(columns=['index'])
# len(full_data_set)
# depr_summary_all[:25]
full_data_set_clean = full_data_set.rename(columns={"Fit_age_a": "New Price", 
                                                    "Fit_age_b": "Decay coeff",
                                                    "Fit_age_R2":})

           Make   Model    Fit_age_a  Fit_age_b  Fit_age_R2  Half life  Count
0         Acura      TL  28820.44370   0.108618    0.702339   6.381514    260
1         Acura     TLX  35871.65508   0.152889    0.778488   4.533671    115
2         Acura     TSX  32150.62084   0.122585    0.675371   5.654425    147
3         Acura     RDX  42559.08885   0.156132    0.952523   4.439502    265
4         Acura     ILX  30777.77496   0.128100    0.762694   5.411008     97
..          ...     ...          ...        ...         ...        ...    ...
280  Volkswagen  Passat  23581.24099   0.122031    0.774304   5.680099    482
281       Volvo     S60  44250.20837   0.176720    0.870849   3.922299    120
282       Volvo    XC90  61324.75650   0.180910    0.912909   3.831457    150
283       Volvo    XC60  52543.22897   0.183575    0.833043   3.775834    114
284       smart  fortwo  24880.06907   0.169864    0.811009   4.080626     79

[285 rows x 7 columns]